.DS_Store
*.swp
.nfs*

#--

.java-version
.scala-version
.sbt-version

#--

bin
build
obj
vender/bundle
node_modules
bower_components

#--

*.prj
*.csv

#--

*.jpg
*.png
*.gif
*.ai
*.pdf

#--

*.retry
.vagrant
.terraform

#--

*.log
*.out

#--

.idea
/cmake-build-debug
/CMakeLists.txt

metastore_db

#--

*.pem

#--

tmp.*
