[include]
	path = .gitconfig.local
[core]
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"
	ignorecase = false
[color]
	ui = auto
[push]
	default = current
[difftool]
	prompt = false
[mergetool]
	prompt = false
[alias]
	f = fetch
	m = merge
	p = pull
	c = commit
	r = rebase
	l = log
	aa = commit --amend -a --no-edit
	st = status
	bl = branch -a
	co = checkout
	df = difftool
	mm = merge master
	sl = stash list
	rh = reset --hard
	amend = commit --amend
	cp = cherry-pick
	pf = push -f
	pop = stash pop
	wip = commit -a -m \"[ci skip] WIP WIP WIP WIP WIP\"
	re = reset --soft HEAD~
	ri = rebase -i
	su = submodule update
	shallow = clone --depth 1
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
