"*":
  core:
    disabledPackages: [
      "symbols-view"
      "exception-reporting"
      "background-tips"
      "about"
    ]
    ignoredNames: [
      ".DS_Store"
    ]
    packagesWithKeymapsDisabled: [
      "symbols-view"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
    uriHandlerRegistration: "always"
  editor:
    invisibles: {}
    nonWordCharacters: "/\\()\"':,.;<>~#%^&*|+=[]{}`?-…"
    showIndentGuide: true
    showInvisibles: true
  "terminal-plus":
    toggles:
      runInsertedText: false
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
".go.source":
  editor:
    softWrap: false
    tabType: "auto"
