"*":
  core:
    disabledPackages: [
      "symbols-view"
      "exception-reporting"
      "background-tips"
      "about"
      "linter-flow"
    ]
    ignoredNames: [
      ".DS_Store"
    ]
    packagesWithKeymapsDisabled: [
      "symbols-view"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 15
    invisibles: {}
    lineHeight: 1.4
    nonWordCharacters: "/\\()\"':,.;<>~#%^&*|+=[]{}`?-…"
    showIndentGuide: true
    showInvisibles: true
    undoGroupingInterval: 1000
  "linter-eslint":
    fixOnSave: true
    lintHtmlFiles: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
    ]
  "linter-flow":
    enableAll: true
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
  "terminal-plus":
    toggles:
      runInsertedText: false
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
".go.source":
  editor:
    softWrap: false
    tabType: "auto"
