# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.js':
  'console.log':
    'prefix': 'l'
    'body': 'console.log($1);'
  'function':
    'prefix': 'f'
    'body': 'function($1) {$2}'
  'async function':
    'prefix': 'as'
    'body': 'async function($1) {$2}'
  'require':
    'prefix': 'require'
    'body': "const $1 = require('$2');"
  'const':
    'prefix': 'c'
    'body': 'const $1 = $2;'
  'import':
    'prefix': 'im'
    'body': "import $1 from '$2';"
